<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
    </head>
    <body>
        <form action="/registr" method="POST">
            <label>Введите логин</label><input name="email">
            <br>
            <label>Введите пароль</label><input name="password">
            <br>
            <label>Повторите пароль</label><input name="password2">
            <br>
            <button>Зарегистрироваться</button>
        </form>
    </body>    
</html>